body {
    background: url('../images/burgess-vs-lucy-one-piece-wallpaper-goldenhans-1680x1050.jpg') no-repeat fixed;
    background-size: cover;
}

.container {
    position: absolute;
    margin: 50px 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right,
    transparent,
    transparent,
    transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.list_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}