body {
    background: url('../images/w_home.jpg') no-repeat fixed;
    background-size: cover;
}

.enter_link {
    display: block;
    width: 100%;
    height: 100vh;
}

.enter_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    animation: clear_overlay 10s forwards;
}

@keyframes clear_overlay {
    from {
        background: white;
    }
    to {
        background: transparent;
    }
}