body {
    background: url('../images/w_sign_in.jpg') no-repeat fixed;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

form {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.input_name {
    display: flex;
    align-items: center;
}